.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}
.jumbotron {
  padding-top: 2rem;
  height: 100px;
}

body {
  background: #343a40;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

footer div h4 {
  font-size: 1rem;
}
footer div button {
  height: 40px;
  margin-bottom: 5px;
}
